/* This css file serves as a template for styling your kwicks.  Feel free to modify, but please make note of the comments - some of them are important. */
.kwicks {
	/* recommended styles for kwicks container */
	list-style: none; /* if UL container is used */
	position: relative;
	margin: 0;
	padding: 0;
}
.kwicks .kwick-panel {
	/* these are required, but the values are up to you (must be pixel) */
	width: 125px;
	height: 100px;

	/*do not change these */
	display: block;
	overflow: hidden;
	cursor: pointer;
	padding: 0; /* if you need padding, do so with an inner div (or implement your own box-model hack) */
}
.kwicks.horizontal .kwick-panel {
	/* This is optional and will be disregarded by the script. However, it should be provided for non-JS enabled browsers. */
	margin-right: 5px; /*Set to same as spacing option. */
	float: left;
}
.kwicks.vertical .kwick-panel {
	/* This is optional and will be disregarded by the script. However, it should be provided for non-JS enabled browsers. */
	margin-bottom: 5px; /*Set to same as spacing option. */
}
